.login-bg {
    background-image: url('https://img.freepik.com/free-photo/top-view-circular-food-frame_23-2148723455.jpg?w=1380&t=st=1683207834~exp=1683208434~hmac=1f235dc517affc2efe012fa4ac3453d57e62164922507a7ab4a08ee66f4ec96f');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}